<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>

  <form method="POST" action="/newteam">
    <p>
      Team Name:
      <input type="text" name="Team Name">
      <input type="submit" name="submit">
    </p>

    <p>
      Coach:
      <input type="text" name="Coach">
      <input type="submit" name="submit">
    </p>

    <p>
      Point Guard:
      <input type="text" name="Point Guard">
      <input type="submit" name="submit">
    </p>

    <p>
      Shooting Guard:
      <input type="text" name="Shooting Guard">
      <input type="submit" name="submit">
    </p>

    <p>
      Small Forward:
      <input type="text" name="Small Forward">
      <input type="submit" name="submit">
    </p>

    <p>
      Power Forward:
      <input type="text" name="Power Forward">
      <input type="submit" name="submit">
    </p>

    <p>
      Center:
      <input type="text" name="Center">
      <input type="submit" name="submit">
    </p>


  </form>
 </head>
 <body>
 </body>
</html>
