<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>

  <form method="POST" action="/newteam">
    <p>
      Team Name:
      <input type="text" name="Team Name">
      <input type="submit" name="submit">
    </p>

    <p>
      Coach:
      <input type="text" name="Coach">
      <input type="submit" name="submit">
    </p>

    

    
  </form>
 </head>
 <body>
 </body>
</html>
