<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>

 <body>

   <form method="POST" action="/newteam">
     <p>
       Team Name:
       <input type="text" name="Team Name">
       <input type="submit" name="submit">
     </p>

     <p>
       Coach:
       <input type="text" name="Coach">
       <input type="submit" name="submit">
     </p>

     <p>
       Point Guard:
       <input type="text" name="Point Guard">
       <br>
       Shooting Guard:
       <input type="text" name="Shooting Guard">
       <br>
       Small Forward:
       <input type="text" name="Small Forward">
       <br>
       Power Forward:
       <input type="text" name="Power Forward">
       <br>
       Center:
       <input type="text" name="Center">
       <br>
       <input type="submit" name="submit">
     </p>

   </form>
 </body>
</html>
