<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <% params.each do |key, value| %>
      <h1><%= if key == "Team Name"
                "#{key}: #{value}" %>
      </h1>

      <h2><%= else
                "#{key}: #{value}" if key != "submit"   %>
      </h2>




   <% end %>

 </body>
</html>
