<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <% params.each do |key, value| %>
        <h1><%= "#{key}: #{value}" if key == 'name' %></h1>
        <h2><%= "#{key}: #{value}" if key == 'name' %></h2>

   <% end %>

 </body>
</html>
